*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.App{
    height: 100vh;
    width: 100vw;
}

.navbar-container{
    display: flex;
    justify-content: space-evenly;
    background-color: green;
    height: 8vh;
    align-items: center;
}

.header-left , .notification-container{
    display: flex;
    margin: 0 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.notification-container{
    position: relative;
    
    & span{
        font-size: 1rem;
        position: absolute;
        left: 1.5rem;
        bottom: 1.1rem;
        background-color: red;
        border-radius: 4rem;
    }
    &:hover{
        color: white;
    }
}

.itemcollection{
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.eachCardItem{
    width: 14rem;
    height: 20rem;
    background-color: whitesmoke;
    margin: 0.8rem;
    box-shadow: 0.5rem 0.5rem 0.9rem grey;
    box-shadow: -0.5rem -0.5rem 0.9rem grey;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover{
        scale: 1.07;
    }
}

.cardDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.priceAndButton{
    margin: 0.5rem 0.7rem;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    color: green;
    bottom: 0;
    justify-content: space-between;
    & button{
        border-radius: 1rem;
        width: 6.5rem;
        font-size: 1rem;
        padding: 0.1rem;
        font-weight: 600;
        &:hover{
            background-color: wheat;
            color: red;
            cursor: pointer;
        }
    }
    
}

.cartItemContainer{
    display: flex;
    justify-content: space-around;
}

.cartEachProduct{
    margin: 1rem;
    display: flex;
    width: 30rem;
}